/*
 * Forked from the Night theme.
 */

/*
 * Global styles
 */
:root {
  --color-accent: sandybrown;
  --color-accent: tomato;
  --color-base-0: #000;
  --color-base-1: #111;
  --color-base-2: #222;
  --color-base-3: #333;
  --color-base-6: #666;
  --color-base-7: #999;
  --color-base-8: #eee;
  --color-base-9: #fff;
  --color-blue: deepskyblue;
}

.reveal-viewport {
  background: var(--color-base-1);
  background-color: var(--color-base-1);
}

.reveal {
  color: var(--color-base-8);
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: normal;
}

.reveal ::selection {
  background: var(--color-accent);
  color: var(--color-base-9);
}

.reveal .slides section,
.reveal .slides section > section {
  font-weight: inherit;
  line-height: 1.3;
}

/*
 * Headers
 */
.reveal h1,
.reveal h2 {
  color: var(--color-base-8);
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 20px 0;
  word-wrap: break-word;
}

.reveal h1 {
  font-size: 3.77em;
}

.reveal h2 {
  font-size: 2.11em;
}

/*
 * Other
 */
.reveal p {
  line-height: 1.3;
  margin: 20px 0;
}

/* Remove trailing margins after titles */
.reveal h1:last-child,
.reveal h2:last-child {
  margin-bottom: 0;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%;
}

.reveal strong,
.reveal b {
  font-weight: bold;
}

.reveal em {
  font-style: italic;
}

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  margin: 0 0 0 1em;
  text-align: left;
}

.reveal ol {
  list-style-type: decimal;
}

.reveal ul {
  list-style-type: disc;
}

.reveal ul ul {
  list-style-type: square;
}

.reveal ul ul ul {
  list-style-type: circle;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px;
}

.reveal dt {
  font-weight: bold;
}

.reveal dd {
  margin-left: 40px;
}

.reveal blockquote {
  background: var(--color-base-2);
  display: block;
  font-style: italic;
  margin: 20px auto;
  padding: 5px;
  position: relative;
  width: 70%;
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block;
}

.reveal q {
  font-style: italic;
}

.reveal pre {
  display: block;
  font-family: monospace;
  font-size: 0.55em;
  line-height: 1.2em;
  margin: 20px auto;
  position: relative;
  text-align: left;
  width: 90%;
  word-wrap: break-word;
}

.reveal code {
  color: var(--color-accent);
  font-family: monospace;
}

.reveal pre code {
  display: block;
  max-height: 400px;
  overflow: auto;
  padding: 5px;
  word-wrap: normal;
}

.reveal table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 20px auto;
}

.reveal table th {
  font-weight: bold;
}

.reveal table th,
.reveal table td {
  border-bottom: 1px solid;
  padding: 0.2em 0.5em 0.2em 0.5em;
  text-align: left;
}

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center;
}

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right;
}

.reveal sup {
  font-size: smaller;
  vertical-align: super;
}

.reveal sub {
  font-size: smaller;
  vertical-align: sub;
}

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top;
}

.reveal small * {
  vertical-align: top;
}

.reveal img {
  margin: 20px 0;
}

.reveal footer {
  font-size: 24px;
}

/*
 * Links
 */
.reveal a {
  color: var(--color-accent);
  text-decoration: none;
}

.reveal a:hover {
  text-decoration: underline;
}

/*
 * Frame helper
 */
.reveal .r-frame {
  border: 4px solid var(--color-base-8);
  box-shadow: 0 0 10px var(--color-base-9);
}

.reveal a .r-frame {
  transition: all .15s linear;
}

.reveal a:hover .r-frame {
  border-color: var(--color-accent);
  box-shadow: 0 0 20px var(--color-base-9);
}

/*
 * Navigation controls
 */
.reveal .controls {
  color: var(--color-accent);
}

/*
 * Progress bar
 */
.reveal .progress {
  color: var(--color-accent);
}

/*
 * Print background
 */
@media print {

  .backgrounds {
    background-color: var(--color-base-1);
  }
}
